<h1>LOGIN</h1>
<%= form_for :user, url: login_path do |f| %>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <% if @error != nil %>
      <div id="error_explanation">
        <%= @error %>
      </div>
  <% end %>

  <p>
    <%= f.submit :Login %>
  </p>

<%= link_to 'Not have account yet?', signup_index_path %>
<% end %>
